

<!-- 声明集成一个父html -->
{% extends "blog/base.html" %}

<!-- 改写 父类中 content block 中的内容 -->
{% block content %}


	{% if user.is_authenticated %}

		<article class="media content-section">
			<img class="rounded-circle article-img" src="{{ object.author.profile.image.url }}">
		  <div class="media-body">
		    <div class="article-metadata">
		      <a class="mr-2" href="#">{{ object.author }}</a>
		     <!--  #date 一个 djangle的 key word  用于规定 日期显示格式 -->
		      <small class="text-muted">{{ object.data_posted | date:"F d, Y"}}</small>

		      {% if object.author == user %}
		      	<a class= "btn-danger btn-sm mt-1 mb-1"href="{% url 'post-delete' object.id%}"> delete</a>
		      {% endif %}
		    </div>
		    <h2 class="article-title">{{ object.title }}</h2>
<!-- 		    <p class="article-content">{{ object.content }}</p> -->
			 <p class="article-content">latitude: {{ post.latitude }}</p>
		    <p class="article-content">longitude:{{ post.longitude }}</p>
		  </div>
		</article>
	{% endif%}

	

{% endblock content %}