# Created by https://www.gitignore.io/api/go,intellij+all
# Edit at https://www.gitignore.io/?templates=go,intellij+all

### Go ###
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

### IDEA GoLand ###
.idea/

*.iml
.idea/modules.xml
.idea/misc.xml
*.ipr

# SQL lite
*.db